/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrapper{
    display: flex;
}
.navContainer{
    position: relative;
    width: 92px;
    height: 100vh;
}
.navBar{
    position: fixed;
    width: 86px;
    height: 100%;
    left: 0;
    right: 0;
/*    border: 1px solid red;*/
}
.lBox{
    position: relative;
    width: 78px;
    height: 78px;
    margin: 0 auto;
    margin-top: 25px;
    background: url('../img/kj-logo-square.svg') no-repeat;
    /*background-size: cover;*/
/*    border: 1px solid red;*/
}
.container{
    width: 100%;
}
.gcontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;

}

.gBoxes{
    width: 450px;
    height: 450px;
    font-family: 'Oswald', sans-serif;
    flex-grow: 1;
    align-self: auto;
    color: #FFFFFF;
    text-align: center;
    line-height: 12px;
}
.gBoxes h1{
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 48px;
}
.gBoxes h2{
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 300;
}
.gBox01{
    background: #1055be;
}
.gBox02{
    background: #ee3a33;
}
.gBox03{
    background: #1e1741;
}
.gBox04{
    background: #10be41;
}
.gBox05{
    background: #ffb300;
}
.gBox06{
    background: #be108b;
}
.gBox07{
    background: #fca0a1; 
}
.gBox08{
    background: #8d0e3b; 
}
.gBox09{
    background: #51a4ff; 
}
.gBoxText{
    position: relative;
    text-align: right;
    top: 65%;
    left: 0;
    right: 0;
    padding-right: 30px;
}














/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}